{% extends "base.html" %}

{% block page_title %}NSC Homepage{% endblock %}

{% block extra_body %}class="home bp"{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
<div id="ftr-wrapper">

    <div class="container">

        <div class="topdata">
            <h1>Nathaniel Clark</h1>
            <p class="subline">Dev/Ops, Team Leader, Developer</p>
            <hr />
        </div>

        <div class="infodata">
            <p>Dedicated and proficient Developer. Leader of high-performance teams. Digital Strategist anticipating trends. Mobile first! Hyper-obsessed with automation. Seeks interpenetration of fields for business solutions; Technology in all layers. Simple solutions for complex problems. Tattoo on arm says “Building The Future”.</p>

            <ul>
                <li><strong>Development</strong>: Python/Django, PHP, HTML/CSS, Javascript, jQuery, jQuery Touch, Ember.js, (My|MS)SQL, C#/.NET, ASP Classic</li>
                <li><strong>Dev/Ops</strong>: Git DVCS, Heroku, Amazon S3/Glacier, Amazon EC2, CentOS/Ubuntu, IIS 6/7, SQL Server, Github, Bitbucket</li>
                <li><strong>Management</strong>: Team Leadership, Use-Case Design, Project Estimates &amp; Tracking, Requirements Docs, Presentation Design (PowerPoint, Keynote), Public Speaking, JIRA, Basecamp, Omniplan</li>
                <li><strong>Design-ware</strong>: Photoshop, Illustrator, Omnigraffle, InDesign</li>
            </ul>

            <div class="chart-wrapper events">
                <h4>Coffee Consumption</h4>
                <div id="recentEvents"></div>
            </div>

            <div class="chart-wrapper work">
                <h4>Work Breakdown</h4>
                <div id="work-breakdown"></div>
            </div>

        </div>


        <hr />

        <ul id="social">
            <li><a href="https://github.com/natxty" target="_blank"><i class="icon-github"></i> GitHub</a></li>
            <li><a href="http://twitter.com/natxty" target="_blank"><i class="icon-twitter"></i> Twitter</a></li>
            <li><a href="https://plus.google.com/101302395523402257780/" target="_blank"><i class="icon-google-plus-sign"></i> Google+</a></li>
        </ul>

    </div>

</div>

{% endblock %}

